@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Aften Screen';
    src: url('/aften_screen.woff') format('woff');
    font-weight: 400;
    font-variant: normal;
  }
  
  * {
    box-sizing: border-box;
  }
  
  html {
    background: #000;
    color: #fff;
    font-family: 'Aften Screen', system, -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande,
      sans-serif;
  }
  
  a {
    color: #fff;
  }
  
  html,
  body,
  #root {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;

  }
  
  article {
    /* padding: 3vw 5vw 0; */
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header svg {
    fill: white;
    height: 20px;
  }
  
  section {
    /* margin: 14vw 0 14vw; */
    margin: 0;
  }
  h1 {
    font-size: 5vw;
    font-weight: 400;
  }
  p,
  section.text {
    max-width: 400px;
    font-size: 16px;
  }
  
  .Placeholder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    aspect-ratio: 16/10;
  }
  
  .ScrollScene,
  .ViewportScrollScene {
    /* outline: 1px dashed rgba(255, 255, 255, 0.33); */
    /* position: relative; */
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -999;
  }

  .ScrollScene:after,
  .ViewportScrollScene:after {
    /* content: 'ScrollScene'; */
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.33);
    color: black;
    font-size: 10px;
    padding: 5px;
  }

  * {
    box-sizing: border-box;
  }
  
  html {
    background: #000;
    color: #f2f2f2;
    font-family: 'Aften Screen', system, -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande,
      sans-serif;
  }
  
  a {
    color: #f2f2f2;
  }
  
  html,
  body,
  #root {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
  }
  
  article {
    /* padding: 3vw 0vw 0; */
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
  }
  header svg {
    fill: white;
    height: 20px;
  }

  h1 {
    font-size: 5vw;
    font-weight: 400;
  }
  p,
  section.text {
    max-width: 400px;
    font-size: 16px;
  }
  
  .WebGLImage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    outline: 2px dashed turquoise;
  
    aspect-ratio: 16/10;
    margin: 10vw;
    width: 80vw;
  }
  
  .Marquee {
    white-space: nowrap;
    padding: 0vw 0;
    overflow: hidden;
  }
  .Marquee > div {
    will-change: transform;
  }
  .Marquee h1 {
    margin: 0;
    line-height: 1;
    font-size: 30vw;
  }
  
  .VerticalParallax {
    background: #222;
    height: 100vh;
    position: relative;
    overflow: hidden;
  
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 25vw;
  }
  
  .VerticalParallaxMotion {
    position: absolute;
    min-height: 100%;
    right: 0;
  }
  
  .VerticalParallax h2 {
    display: block;
    font-size: 20vw;
    color: deeppink;
    white-space: nowrap;
    writing-mode: vertical-lr;
    text-transform: uppercase;
    margin: 0;
  }

  .TitleArea {
    position: absolute;
    min-height: 100%;
    right: 0;
    height: 100vh;
    margin: 0;
  }
  
  .Image {
    width: 90vh;
    height: 50vh;
    background: turquoise;
  }
  
  /* Debug styles */
  .Debug {
    /* outline: 1px dashed rgba(255, 255, 255, 0.33); */
    position: relative;
  }
  .Debug:after {
    /* content: 'useTracker()'; */
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.33);
    color: black;
    font-size: 10px;
    /* padding: 5px; */
  }

  /* .ViewportScrollScene:after {
    content: 'ViewportScrollScene';
  } */
  